@page "/Leaderboard/Factions"


@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container" style="margin-top:10%">
        <div class="row">
            <div style="margin:auto">
                <a class="btn btn-secondary" href="@($"Leaderboard")" role="button">Users</a>
                |
                <a class="btn btn-secondary" href="@($"Leaderboard/ByFactions")" role="button">Faction View</a>
                |
                <a class="btn btn-secondary" href="@($"Leaderboard/Factions")" role="button">Factions</a>
            </div>
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center"><h5>Faction</h5></th>
                                    <th class="text-center"><h5>Members</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:#e00e0e">Team Red</h6>
                                    </td>

                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@RedCount</h6>
                                    </td>

                                </tr>
                                <tr class="table-active">
                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:#05a40e">Team Green</h6>
                                    </td>

                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@GreenCount</h6>
                                    </td>

                                </tr>
                                <tr class="table-active">
                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:#06039d">Team Blue</h6>
                                    </td>

                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@BlueCount</h6>
                                    </td>

                                </tr>
                                <tr class="table-active">
                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:#dfbd04">Team Yellow</h6>
                                    </td>

                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@YellowCount</h6>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
}