@inject IJSRuntime JSRuntime
@page "/Statistics"

@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container" style="margin-top:0.5%">
    <div class="d-flex justify-content-center">
        <div class="row" style="width:100%;">
            <h2>Statistics</h2>
            <h3 style="margin-top:4%">Capture point control percentage:</h3>
            <div class="progress" style="height: 7rem; margin-top:1.8%; background: #242424">
                <div class="faction-bar linear active" style="width: @redPercentage%; background-color: #BC0D2D;"></div>
                <h4 style="margin-left: 5px">Red: @redPercentage%</h4>
            </div>
            <div class="progress" style="height: 7rem; background: #242424 ">
                <div class="faction-bar linear active" style="width: @bluePercentage%; background-color: #0972BC;"></div>
                <h4 style="margin-left: 5px">Blue: @bluePercentage%</h4>
            </div>
            <div class="progress" style="height: 7rem; background: #242424">
                <div class="faction-bar linear active" style="width: @greenPercentage%; background-color: #18E039;"></div>
                <h4 style="margin-left: 5px">Green: @greenPercentage%</h4>
            </div>
            <div class="progress" style="height: 7rem; background: #242424">
                <div class="faction-bar linear active" style="width: @yeallowPercentage%; background-color: #EEF200;"></div>
                <h4 style="margin-left: 5px">Yellow: @yeallowPercentage%</h4>
            </div>
            <div class="main-box clearfix">
                <h2 style="margin-top:3%">Leaderboard</h2>
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><h5>User</h5></th>
                                <th class="text-center" style="color:black"><h5>Faction</h5></th>
                                <th class="text-center" style="color:black"><h5>Level</h5></th>
                                <th class="text-center" style="color:black"><h5>Xp</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in UsersByFive)
                            {
                                <tr>

                                    <td>
                                        <img src=@user.UserPhotoUrl alt="" style="max-height:64px;width:64px">
                                        <a href="@($"profile/{user.Id}")">
                                            <h6 style="color:black">@user.UserName</h6>
                                        </a>
                                    </td>
                                    @if (user.Faction == Factions.Red)
                                    {
                                        <td class="text-center">
                                            <h6 class="label label-default" style="color:#e00e0e">Red</h6>
                                        </td>

                                    }
                                    else if (user.Faction == Factions.Blue)
                                    {
                                        <td class="text-center">
                                            <h6 class="label label-default" style="color:#06039d">Blue</h6>
                                        </td>
                                    }
                                    else if (user.Faction == Factions.Green)
                                    {
                                        <td class="text-center">
                                            <h6 class="label label-default" style="color:#05a40e">Green</h6>
                                        </td>
                                    }
                                    else if (user.Faction == Factions.Yellow)
                                    {
                                        <td class="text-center">
                                            <h6 class="label label-default" style="color:#dfbd04">Yellow</h6>
                                        </td>
                                    }

                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@user.Level</h6>
                                    </td>
                                    <td class="text-center">
                                        <h6 class="label label-default" style="color:black">@user.ExperiencePoints</h6>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <div style="margin-right:5%">
                    <select style="width:50px;float:right" @onclick="@(() => doUsers5(pageNumber))" @bind=@pageNumber>
                        @for (int p = 1; p <= (int)Math.Ceiling((double)Users.Count() / 5); p++)
                        {
                            <option value="@p">@p</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        </div>
</div>
                    
        }
