@page "/Profile/{Id}"

<h1 class="page-title">Profile of @User.FirstName @User.LastName </h1>
<div class="col-12 row">


    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">



            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Picture</label>
                <div class="col-sm-8">
                    <img src=@User.UserPhotoUrl width="200" height="200"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.FirstName</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.LastName</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email Adress</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.Email</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Level</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.Level</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Xp</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@User.ExperiencePoints</label>
                </div>
            </div>


        </div>
    </div>
</div>


