@page "/Create account"

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card mt-10 mb-10">
            <div class="card-header">
                <h2>User Registration</h2>
            </div>
            <div class="card-body">
                @if (isRegistrationSuccess)
                {
                    <div class="alert alert-success" role="alert">Registration was successful</div>
                }
                <EditForm Model="@userInput" OnValidSubmit="CreateNewUser" autocomplete="off">
                    <DataAnnotationsValidator />
                    <div class="col-md-12 mb-3">
                        <label for="Username">User Name</label>
                        <InputText id="Username" placeholder="Enter Username" @bind-Value="userInput.UserName" class="form-control" />
                        <ValidationMessage For="@(() => userInput.UserName)" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="FirstName">First Name</label>
                        <InputText id="FirstName" placeholder="Enter Name" @bind-Value="userInput.FirstName" class="form-control" />
                        <ValidationMessage For="@(() => userInput.FirstName)" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="LastName">Last Name</label>
                        <InputText id="LastName" placeholder="Enter Surname" @bind-Value="userInput.LastName" class="form-control" />
                        <ValidationMessage For="@(() =>  userInput.LastName)" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Email">Email</label>
                        <InputText id="Email" placeholder="Enter Email" @bind-Value="userInput.Email" class="form-control" />
                        <ValidationMessage For="@(() => userInput.Email)" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Password">Password</label>
                        <InputText id="Password" placeholder="Enter Password" type="password" @bind-Value="userInput.Password" class="form-control" />
                        <ValidationMessage For="@(() => userInput.Password)" />
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="Confirm password">Confirm password</label>
                        <InputText id="Confirm Password" placeholder="Repeat Password" type="password" @bind-Value="userInput.ConfirmPassword" class="form-control" />
                        <ValidationMessage For="@(() =>  userInput.ConfirmPassword)" />
                    </div>

                    <div class="form-group" align="left">
                        <div class="col-md-12 mb-3">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    userInputModel userInput = new userInputModel();
    bool isRegistrationSuccess = false;

    void CreateNewUser()
    {
        isRegistrationSuccess = true;
        Console.WriteLine("New user name is...");
        var hashSalt = PasswordManager.EncryptPassword(userInput.Password);
        var newUser = new UserData(
            id: 0,
            userName: userInput.UserName,
            firstName: userInput.FirstName,
            lastName: userInput.LastName,
            email: userInput.Email,
            password: hashSalt.Hash,
            salt: hashSalt.Salt);


        Console.WriteLine($"Name: {newUser.FirstName}\n" +
                          $"Surname: {newUser.LastName}\n" +
                          $"Email: {newUser.Email}\n" +
                          $"Password: {newUser.Password}\n" +
                          $"Salt: {newUser.StoredSalt}\n");
    }

}
